<br/>
<div class="container">
    <div class="card">
        <div class="card-text">
            <form class="form-horizontal"
                novalidate
                (ngSubmit)="save()"
                [formGroup]="problemForm">
                <!-- Zone de texte PRENOM -->
                <div class="form-group row">          
                    <label for="prenomId" class="col-md-2 col-form-label">Prénom :</label>
                    <div class="col-md-10">
                        <input class="form-control" 
                        id="prenomId" 
                        type="text" 
                        placeholder="Votre prénom ici (obligatoire)" 
                        formControlName="prenom"            
                        [ngClass]="{'is-valid': (problemForm.get('prenom').touched || 
                        problemForm.get('prenom').dirty) &&
                        problemForm.get('prenom').valid,
                        'is-invalid': (problemForm.get('prenom').touched || 
                        problemForm.get('prenom').dirty) &&
                        !problemForm.get('prenom').valid}"
                        />
                    </div>
                    <span class="form-text" *ngIf="(problemForm.get('prenom').touched ||
                    problemForm.get('prenom').dirty) &&
                        (problemForm.get('prenom').errors)">
                        <span *ngIf=" problemForm.get('prenom').errors['required']">
                            <small class="text-muted">
                                Merci de saisir votre prénom.
                            </small>
                        </span>
                        <span *ngIf=" problemForm.get('prenom').errors['nbreCharsInsuffisants']">
                            <small class="text-muted">
                                Veuillez saisir plus de characteres
                            </small>
                        </span>
                        <span *ngIf=" problemForm.get('prenom').errors['maxlength']">
                            <small class="text-muted">
                                Veuillez saisir moins de characteres
                            </small>
                        </span>
                    </span>   
                </div>
            </form>
        </div>
    </div>
</div>