<br/>
<div class="container">
    <div class="card">
        <div class="card-text">
            <form class="form-horizontal"
                novalidate
                (ngSubmit)="save()"
                [formGroup]="prenom">
                <!-- Zone de texte PRENOM -->
                <div class="form-group row">          
                    <label for="prenomId" class="col-md-2 col-form-label">Prénom :</label>
                    <div class="col-md-10">
                        <input class="form-control" 
                        id="prenomId" 
                        type="text" 
                        placeholder="Votre prénom ici (obligatoire)" 
                        formControlName="prenomUsager"            
                        [ngClass]="{'is-valid': (prenom.get('prenomUsager').touched || 
                        prenom.get('prenomUsager').dirty) &&
                        prenom.get('prenomUsager').valid,
                        'is-invalid': (prenom.get('prenomUsager').touched || 
                        prenom.get('prenomUsager').dirty) &&
                        !prenom.get('prenomUsager').valid}"
                        />
                    </div>
                    <span class="form-text" *ngIf="(prenom.get('prenomUsager').touched ||
                        prenom.get('prenomUsager').dirty) &&
                        (prenom.get('prenomUsager').errors)">
                        <span *ngIf=" prenom.get('prenomUsager').errors['required']">
                            <small class="text-muted">
                                Merci de saisir votre prénom.
                            </small>
                        </span>
                        <span *ngIf=" prenom.get('prenomUsager').errors['minlength']">
                            <small class="text-muted">
                                Veuillez saisir plus de characteres
                            </small>
                        </span>
                        <span *ngIf=" prenom.get('prenomUsager').errors['maxlength']">
                            <small class="text-muted">
                                Veuillez saisir moins de characteres
                            </small>
                        </span>
                    </span>     
                </div>
            </form>
        </div>
    </div>
</div>